<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clear All Data</title>
	<link rel="stylesheet" href="style.css" title="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
</head>
<!-- will find all results that fit the filters -->
<body>
    <h2>Data Removed</h2>
    All data has been removed. <br><br>
    <a href="/">HOME</a>
	
</body>

</html>