<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clear All Data</title>
	<link rel="stylesheet" href="style.css" title="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
</head>
<!-- will find all results that fit the filters -->
<body>
    <h2>Remove Data?</h2>
	<form action= "/clearDataPost" method="post">
		<fieldset>
			Are you sure you want to remove all data? <br>
		    <input type="submit" value="Yes"/>
		</fieldset>

        <a href="/">HOME</a>
		
	</form>
	
</body>

</html>