<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Anime Finder</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
</head>

<body>
    <h1>Anime Finder</h1>
    <h2>Recommender</h2>
    To be recommended an anime <a href="/recommendationForm">Recommendation</a>
    <br>To see previously searched or recommended animes <a href="/userLookupForm">User Lookup</a>

	<hr>
    <h2>Search By Title</h2>
    To search for a specific anime based on title <a href="/searchByTitle">Title Search</a>

</body>

</html>