<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Listed Titles</title>
</head>

<body>
	<h1>Titles</h1>
	<div>
		Title: <%- titles %> <br>
        Description: <%- description %>
	</div>
	<a href="/">HOME</a>
</body>

</html>