<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Listed Titles</title>
	<link rel="stylesheet" href="style.css" title="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
</head>

<body>
	<h1>Titles</h1>
	<div>
		<strong>Title:</strong> <%- titles %> <br>
        <strong>Description:</strong> <%- description %> <br>
		<strong>Rank:</strong> <%- rank %>
	</div>
	<a href="/">HOME</a>
</body>

</html>