<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Recommendation Form</title>
</head>

<body>
    <h1>Recommendation</h1>
    <p><b>Genre:</b> <%- genre %></p>
    

	<a href="/">HOME</a>
</body>

</html>