<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Recommendation Form</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
</head>

<body>
    <h1>Recommendation</h1>
    <p><b>Name:</b> <%- genre %></p>
    <%- title %>

	<a href="/">HOME</a>
</body>

</html>